.menu-main{
    display: grid;
    grid-template-columns: 30% 30%;
    grid-gap: 2em;
    justify-content: center;
}

.menu-item{
    background: rgba(243, 255, 166, 0.568);
}

.menu-item h3{
    padding: 10px 0 0 5px;
}

.menu-item p{
    padding: 5px 5px 5px 2px;
}